input:focus {
    outline: none;
}

.superInput {
    margin: 5px 5px 5px 0;
    border: 2px solid #778899;
    border-radius: 5px;
    font-size: 16px;
}

.errorInput {
    border: 3px solid #dc3545;
    border-radius: 5px;
}

.error {
    color: #dc3545;
}