input:focus {
    outline: none;
}

.superInput {
    border: 1px solid white;
    border-radius: 2px;
}

.errorInput {
    border: 3px solid lime;
    background: #DC143C;
}

.error {
    color: red;
}